<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>W5yrtN93JGclyIQozk21w2nURG8iENPs2w9fBCLgpG17M1xeP1</string>
	<key>consumer_Key</key>
	<string>XbgSdLG0AT2y5dpOXkmkae4YJ</string>
</dict>
</plist>
